<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://use.fontawesome.com/ada434e0af.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <footer>
        <hr>
        <center><p>Created with <i class="fa fa-heart"  style="color: red;" aria-hidden="true"></i> by {{name}} </p></center>
</footer>
</body>
</html>